<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="tela-toda">
        <input type="checkbox" id="menuToggle" class="menu-toggle">
        <header>
            <label for="menuToggle" class="menu-label">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </label>
            <h1>Setor de Compras</h1>
        </header>
        <nav id="sidebar">
            <ul>
                <li><a href="{{ url_for('pagina_inicial') }}">Página Inicial</a></li>
                <li><a href="{{ url_for('atacado') }}">Atacado</a></li>
                <li><a href="{{ url_for('varejo') }}">Varejo</a></li>
                <li><a href="{{ url_for('setor_de_compras') }}">Setor de Compras</a></li>
                <li><a href="{{ url_for('gerencia') }}">Gerência</a></li>
                <li><a href="{{ url_for('sac') }}">SAC</a></li>
            </ul>
        </nav>
        <div class="container">
            <h1>Lista de Atendentes</h1>
            <table border="1" style="margin: 0 auto; margin-top: 30px; width: 500px;">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Numero</th>
                    </tr>
                </thead>
                <tbody>
                    {% for elemento in items %}
                        <tr>
                            <td>{{ elemento[1] }}</td>
                            <td>{{ elemento[2] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                {% if page > 1 %}
                    <a href="?page={{ page-1 }}">Anterior</a>
                {% endif %}
                <span>Página {{ page }} de {{ num_pages }}</span>
                {% if page < num_pages %}
                    <a href="?page={{ page+1 }}">Próxima</a>
                {% endif %}
            </div>
            <button onclick="adicionar()">adicionar</button>
            <button onclick="deletar()">deletar</button>
    </div>

    <script>
        var adicionar = function(){
                setTimeout(function() {
                    window.location.href = "/adcsetor_de_compras";
                }, 100);
            }

            var deletar = function(){
                setTimeout(function() {
                    window.location.href = "/delsetor_de_compras";
                }, 100);
            }
    </script>

</body>
</html>